In [1]:
# This is pandas execise part 3, maining focus on:
#     Grouping and filttering
# Date: 2020-10-04

In [2]:
import pandas as pd

In [3]:
url = '.\chipotle.csv'
chipo = pd.read_csv(url, sep='\t')

In [6]:
# summary
chipo.describe(include='all')

           order_id     quantity     item_name choice_description item_price
count   3373.000000  3373.000000          3373               2477       3373
unique          NaN          NaN            49                872         66
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           518                 97        520
mean     678.825082     1.066113           NaN                NaN        NaN
std      384.273447     0.293391           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      346.000000     1.000000           NaN                NaN        NaN
50%      683.000000     1.000000           NaN                NaN        NaN
75%     1006.000000     1.000000           NaN                NaN        NaN
max     1353.000000     5.000000           NaN                NaN        NaN

In [14]:
# Filttering 1

#select cost > 10 

prices = [ float(value[1 : -1]) for value in chipo.item_price   ]


# Reassign the column with new "float"  value
chipo.item_price = prices

In [21]:
# remove duplicated item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])

# select only the products with quantity = 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity ==1]
chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()

12

In [27]:
#
SelectName = 'Chicken Soft Tacos'
chipo[ chipo['item_name'] == SelectName ]

,order_id,quantity,item_name,choice_description,item_price
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
35,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, Rice]",8.75
36,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
75,34,1,Chicken Soft Tacos,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sou...",8.75
79,35,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.25
...,...,...,...,...,...
3071,1223,1,Chicken Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
3160,1261,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese]]",8.75
3243,1298,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese]]",8.75
3279,1315,1,Chicken Soft Tacos,"[Fresh Tomato Salsa (Mild), [Cheese, Lettuce]]",8.49
3290,1320,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75

In [33]:
chipo.item_name.sort_values().tail(100).head(20)

1319       Veggie Bowl
619        Veggie Bowl
2084    Veggie Burrito
57      Veggie Burrito
2685    Veggie Burrito
1105    Veggie Burrito
497     Veggie Burrito
2096    Veggie Burrito
631     Veggie Burrito
623     Veggie Burrito
2911    Veggie Burrito
1959    Veggie Burrito
3234    Veggie Burrito
931     Veggie Burrito
1038    Veggie Burrito
3367    Veggie Burrito
535     Veggie Burrito
1497    Veggie Burrito
2755    Veggie Burrito
2280    Veggie Burrito
Name: item_name, dtype: object

In [35]:
chipo.sort_values(by='item_price', ascending = True)

,order_id,quantity,item_name,choice_description,item_price
200,89,1,Canned Soda,[Diet Coke],1.09
1396,567,1,Canned Soda,[Coca Cola],1.09
317,138,1,Canned Soda,[Diet Coke],1.09
2850,1132,1,Canned Soda,[Diet Coke],1.09
1030,424,1,Canned Soda,[Diet Dr. Pepper],1.09
...,...,...,...,...,...
3334,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",26.07
1514,616,3,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",26.25
1255,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",27.75
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00

In [36]:
#How many "Chicken Bowl"
chipo_chicken = chipo[chipo.item_name == 'Chicken Bowl']
len(chipo_chicken)

In [39]:
# Find all food like 'Chicken%'
chipo_like_chicken = chipo[chipo.item_name.str.startswith('Chicken')]
chipo_like_chicken

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
...,...,...,...,...,...
3363,1349,1,Chicken Salad,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
3365,1350,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",11.25
3369,1352,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
3371,1353,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",11.25
3372,1353,1,Chicken Crispy Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",8.70